rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isOwner() {
      return request.auth != null && 
             exists(/databases/$(database)/documents/config/system) &&
             request.auth.uid == get(/databases/$(database)/documents/config/system).data.ownerUid;
    }

    match /config/system {
      allow read: if true;
      allow create: if request.auth != null && request.resource.data.ownerUid == request.auth.uid;
      allow update, delete: if isOwner();
    }

    match /{document=**} {
      allow read: if true;
      allow write: if isOwner();
    }
  }
}